<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
            	<th>#</th>
                <th>Fecha</th>
                <th>Solicitado por</th>
                <th>Distrito</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="quotationRequest in quotationRequests">
            	<td>{{ quotationRequest.id }}</td>
                <td>{{ quotationRequest.created_at }}</td>
                <td>{{ quotationRequest.name + ' ' + quotationRequest.last_name }}</td>
                <td>{{ quotationRequest.province.name }}</td>
                <td><a ui-sref="dashboard.quotation-requests.detail({quotationRequestId: {{quotationRequest.id}}})" class="btn btn-info btn-xs">ver detalle</a></td>
            </tr>
        </tbody>
    </table>
</div>