<div class="vertical-center">
    <div class="container">
        <div class="row">
            <div ng-if="invalidData" class="alert alert-danger">E-mail o contraseña incorrectos.</div>
            <div class="col-md-8">            
                <img ng-src="img/contugas_logo_login.png" class="img img-responsive login-logo" alt="Contugas"/>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading center-align">
                        <h3 class="panel-title text-center">Inicie sesión</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" ng-submit="doLogin()">
                            <fieldset>
                                <div class="form-group">
                                    <input type="email" ng-model="email" class="form-control" placeholder="E-mail" name="email" value="" required autofocus>
                                </div>
                                <div class="form-group">
                                    <input ng-model="password" class="form-control" placeholder="Password" name="password" type="password" value="" required>
                                </div>
                                <!--
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Recordar mi cuenta
                                    </label>
                                </div>
                                -->
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-success btn-block">Iniciar sesión</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>