<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Detalle de incidente #{{incidentId}} <a ui-sref="dashboard.incidents.list" class="btn btn-primary pull-right">Volver</a></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <incident-detail incident-id="{{incidentId}}"></incident-detail>
    </div>
    <!-- /.col-lg-12 -->
</div>